body {
    background-color: #e1e6e48f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://d19qjkjk65tfln.cloudfront.net/img/login-page-bg.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 50%;
}

.logo img {
    height: 100px;
    width: auto;
}

.image_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -40px;
}

.green-text {
    color: green;
    margin-top: -18px;
    font-size: 2.5vh;
}

.logo-text {
    color: #DA924E;
    font-size: 1.8rem;
    margin-top: 18px;
    font-weight: bold;
    font-family: lato;
}

.login_container {
    border-radius: 10px;
    height: 45vh;
    width: 20vw;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.input_field {
    width: 180%;
    height: 80%;
    border-radius: 5px;
    border: none;
    background-color: rgb(240, 240, 240);
    margin-left: -50px;
}

.labal_text {
    color: green;
    margin-top: 18px;
    font-size: 3vh;
    margin-left: -50px;
}

.btn button {
    font-family: Roboto;
    background-color: #006747;
    height: 35px;
    width: 150px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn button:hover {
    background-color: #0b9948;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(233, 232, 232, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loading-spinner {
    border: 5px solid #f7f7f7; 
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 45vh auto;
}   
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}